.main {
  margin-top: 10%;
}
.mainClick {
  margin-top: 5%;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to right, #e599f7 , #b197fc);
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #56565c;
  padding: 20;
 
}

h3 {
  color: rgb(63, 12, 59);
}

h1 {
  letter-spacing: 10px;
  color: #5c7cfa;
  width: 500px;
  border: 15px solid #adb5bd;
  border-radius: 25px;
  padding: 0 0 10px;
  margin: 20px;
}
